// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.container{
  margin-top: 10px;
}
.desc {
  background-color: #B9C0DA;
  padding: 15px;
  border-radius: 5px;
}

.editor {
  display: flex;
  justify-content: space-between;
}

.btn-edit {
  height: 40px;
  margin: 30px
}

.back-to {
  float: none;
  margin: 0 auto;
}

.editor .picture {
  height: 200px;
  padding: 20px;
  border-radius: 5px;
}

.edit-list li {
  padding: 5px;
}

.main-list {
  margin: 0 auto;
}


